body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  margin: 0px;
  min-width: 650px;
  text-align: center;
}

.header h1 {
  font-size: 34px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}

.header h2 {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.header {
  text-align: center;
  height: 150px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 0px;
  color: white;
  margin-top: -10px;
}

.intro {
  padding-top: 20px;
}

.padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.reduceWidth {
  width: 60%;
  text-align: center;
  display: inline-block;
}

.background-turquoise {
  background-color: #34d6d8;
}

.background-grey {
  background-color: #f4f4f4;
}

.background-yellow {
  background-color: #ffe840;
}

.footer {
  text-align: center;
  font-size: 11px;
  color: grey;
}
